*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.cell{
    width: 75px;
    height: 75px;
    border: 2px solid;
    box-shadow: 0 0 0 2px;
    line-height: 75px;
    font-size: 60px;
    cursor: pointer;
}
#cell-container{
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 225px;
    margin: auto;
    padding: 10px;
}
#container{
    font-family: "permanent marker", cursive;
    text-align: center;
}